{% extends "flood_mapper/base.html" %}
{% block header %}
  <script>
    function add_rw_to_map(){
      $.get('/api/locations/?format=json', function(data){
        $.each(data, function(dummy, village){
          $.get('/api/locations/' + village['id'] + '/?format=json', function(data){
            $.each(data, function(dummy, rw){
              var rw_layer = JSON.parse(rw['geometry']);
              L.geoJson(rw_layer, {
                style: style,
                onEachFeature: onEachFeature,
                properties: {
                  rw_id: rw['id'],
                  name: rw['name'],
                  population: rw['population']
                }
              }).addTo(map);
            });
          });
        });
      });
    }

    function updateFloodAreaReport(){
      var rt = $('#rt');
      rt.prop('disabled', 'disabled');
      var rt_id = rt.val();
      $.get('/api/reports/rt/' + rt_id + '/?format=json', function(data){
        console.log(data);
        if (data.length == 0){
          console.log('No reported flood info');
        } else {
          $('#current_flood_depth').text(data[0]["depth"]);
          $('#current_flood_depth_div').show();
        }
        rt.prop('disabled', false);
      })
    }

    function updateFloodAreaOptions(rw_id, rw_name){
      $('#rw').text(rw_name);
      $('#village').text('');
      var rt_select = $('#rt');
      rt_select.find('option').remove().end();
      rt_select.append($("<option></option>")
        .attr("value", '')
        .text('---------'));
      $.get('/api/village/' + rw_id + '/?format=json', function(data){
        $('#village').text(data['name']);
        var village_id = data['id'];
        $.get('/api/locations/' + village_id + '/' +rw_id + '/?format=json', function(data) {
           $.each(data, function(dummy, rt) {
             rt_select.append($("<option></option>")
               .attr("value", rt['id'])
               .text(rt['name']));
           });
        });
      });
    }

    function style(feature) {
      return {
        weight: 2,
        opacity: 1,
        color: 'blue',
        dashArray: '3',
        fillOpacity: 0.5,
        fillColor: 'blue'
      };
    }

    function highlightFeature(e) {
      var layer = e.target;
      layer.setStyle({
        weight: 5,
        color: 'white',
        dashArray: '',
        fillOpacity: 0.3,
        fillColor: 'blue'
      });
      if (!L.Browser.ie && !L.Browser.opera) {
        layer.bringToFront();
      }
    }

    function resetHighlight(e) {
      var layer = e.target;
      layer.setStyle(style(e));
    }

    function zoomToFeature(e) {
      var layer = e.target;
      map.fitBounds(layer.getBounds());
      $('#select_rw').hide();
      $('#staff_details').hide();
      $('#current_flood_depth_div').hide();
      $('#details').show();

      var rw_id = layer["options"]["properties"]["rw_id"];
      var rw_name = layer["options"]["properties"]["name"];
      updateFloodAreaOptions(rw_id, rw_name);
    }

    function onEachFeature(feature, layer) {
      layer.on({
        mouseover: highlightFeature,
        mouseout: resetHighlight,
        click: zoomToFeature
      });
    }

    $(document).ready(function(){
      // add rw's to map
      add_rw_to_map();
      $('#rt').on('change', updateFloodAreaReport);
    });

  </script>
  <title>Flood area details</title>
{%  endblock %}

{% load bootstrap_tags %}

{% block navigation-bar %}
  {% include "flood_mapper/navigation_bar.html" %}
{%  endblock %}

{% block content %}
<div>
  <h1>Flood Area Detail</h1>
  <div id="select_rw">
    <h2>Select a RW</h2>
  </div>
  <div id="details" style="display: None">
    <div class="row">
      <div class="col-xs-4">Village:</div>
      <div class="col-xs-8" id="village"></div>
    </div>
    <div class="row">
      <div class="col-xs-4">RW:</div>
      <div class="col-xs-8" id="rw"></div>
    </div>
    <div class="row">
      <div class="col-xs-4">RT:</div>
      <select class="col-xs-8" id="rt">
        <option value="">---------</option>
      </select>
    </div>
    <div class="row" id="current_flood_depth_div">
      <div class="col-xs-4">Current flood depth:</div>
      <div class="col-xs-8" id="current_flood_depth"></div>
    </div>
    <div id="staff_details">
      <div class="row">
        <h2> Details visible to staff only</h2>
      </div>
      <div class="row">
        <div class="col-xs-4">Contact person:</div>
        <div class="col-xs-8" id="contact_person"></div>
      </div>
      <div class="row">
        <div class="col-xs-4">Contact number:</div>
        <div class="col-xs-8" id="contact_number"></div>
      </div>
    </div>
  </div>
</div> <!-- /container -->
{%  endblock %}
